*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#0b0b0b;
color:white;
padding:30px;
}

.container{
max-width:1200px;
margin:auto;
}

.title{
text-align:center;
margin-bottom:30px;
}

.title h1{
font-size:45px;
}

.title span{
color:#ffc107;
}

.form-box,.confirm,.track{
background:#151515;
padding:25px;
border-radius:20px;
box-shadow:0 0 20px rgba(255,193,7,.15);
margin-top:20px;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:20px;
}

.box{
background:#1e1e1e;
padding:20px;
border-radius:15px;
}

.box h2,.track h2{
color:#ffc107;
margin-bottom:15px;
}

input,select,textarea{
width:100%;
padding:14px;
margin:10px 0;
border:none;
outline:none;
border-radius:10px;
background:#2b2b2b;
color:white;
}

textarea{
height:100px;
}

.radio-box{
display:flex;
gap:15px;
margin:15px 0;
}

.radio{
background:#2b2b2b;
padding:15px;
border-radius:10px;
flex:1;
text-align:center;
cursor:pointer;
border:2px solid transparent;
}

.radio input{
display:none;
}

.radio:has(input:checked){
background:#ffc107;
color:black;
font-weight:bold;
}

button{
background:#ffc107;
border:none;
padding:15px 30px;
border-radius:10px;
font-weight:bold;
cursor:pointer;
margin-top:15px;
}

.confirm{
display:none;
text-align:center;
}

.booking-id{
background:#ffc107;
color:black;
padding:12px 20px;
border-radius:10px;
display:inline-block;
margin-top:10px;
font-size:25px;
font-weight:bold;
}

.status{
display:none;
margin-top:15px;
background:#222;
padding:15px;
border-radius:10px;
}